<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.example.nowinjetpack.feature.marvel.MarvelActivity"
            android:exported="false"
            android:label="@string/title_activity_marvel"
            android:theme="@style/Theme.Nowinjetpack">
            <intent-filter>
<!--                <action android:name="${applicationId}.marvel.MarvelActivity" />-->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>